# ----------------------
# Flask
# ----------------------
flask
flask-mysql

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
